<div class="card" style="max-height: 20vh;">
    <div class="card-header">
        <h4 class="card-title">Nível de Testes - Funções disponíveis:</h4>
    </div>
    <div class="card-body overflow-auto">
        <code>
            <div class="row">
                <div class="col-4">
                    andarFrente(quantidade)<br>
                    andarTras(quantidade)<br>
                </div>
                <div class="col-4">
                    girarEsquerda()<br>
                    girarDireita()<br>
                </div>
                <div class="col-4">
                    contemEsfera()<br>
                    removeEsfera()<br>
                </div>
            </div>
        </code>
    </div>
</div>